<h1>Login or Create your username now</h1>

<form action="/create_user" method="POST">
    <label for="user_name">Type out your user_name here</label>
    <input type="text" name="user_name">
    <input type="submit" name="Login">
</form>
